.sin-flote {
    float: none;
}


a {
    text-decoration: none;
}

body {
    background-image:url(../imgs/background-intro.jpg);
    
    
}

.contenedor {
    margin-top: 350px;
}

#font-intro {
    font-size:4.3em;
}

#font-entrar {
    font-size:1.6em;
}

@media screen and (max-width="800px"){
    .contenedor {
        width:100%px;
    }
}

