@font-face{
    font-family:Thinking_of_Betty;
    src:url(Thinking_of_Betty.ttf);
}

@font-face{
    font-family:Anson-Regular;
    src:url(Anson-Regular.otf);
}


#font-entrar, a {
    font-family:Anson-Regular;
    color:#1f5fa8;
}


